<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotels | Staff</title>
</head>
<body>
<table>
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    <tr th:each="staff:${staff}">
        <td th:text="${staff.employeeId}">Number</td>
        <td th:text="${staff.firstName}">Number</td>
        <td th:text="${staff.lastName}">Name</td>
        <td th:text="${staff.position.toString()}">Info</td>
    </tr>

</table>
</body>
</html>